.show
{
    width: 18px;
    position: absolute;
    left: 4px;
    top: 7px;
    margin-right: 5px;
}

.wrapper
{
    position: relative;
    margin-top: 20px;
    width: fit-content;
}

.heading,
.headingClosed
{
    font-weight: bolder;
    color: white;
    background-color: rgb(35, 52, 97); 
    padding: 7.7px;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.headingClosed
{
    border-radius: 10px;
    padding: 5px;
}

.usersIcon
{
    width: 25px;
    margin-left: 20px;
}

.userListWrapperOuter {
    background-color: rgb(35, 52, 97); 
    max-height: 150px;
    overflow: hidden; 
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative; 
  }
  
  .userListWrapperInner {
    max-height: 150px;
    overflow-y: auto; 
    padding-right: 10px; 
  }
  
.activeUsersNavContainer {
    display: flex;
    justify-content: space-between;
}

.activeUsersNavButton {
    background-color: rgb(18, 31, 65);
    width: 60%;
    padding: 3px;
    text-align: center;
    color: rgb(199, 199, 199);
}

.active {
    background-color: rgb(35, 52, 97); 
    font-weight: bold;
    color: white;
    border-bottom: 2px solid white;
}

.user {
    display: flex;
    justify-content: left;
}

.username {
    position: relative;
    margin: 3px;
    text-align: left;
    width: 120px;
    overflow: hidden; 
    text-align: center;
}

.textShort {
    margin: 3px;
    margin-left: 10px;
    width: 40px;
    text-align: center;
}

.usernameScroll {
    display: inline-block; 
    white-space: nowrap; 
    animation: scroll 20s linear infinite; 
    overflow: hidden; 
    margin-bottom: -5px;
}

@keyframes scroll {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.searchInput
{
  width: 150px;
  margin: 4px;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(35, 52, 97); ;
  border-radius: 10px;
  font-size: 12px;
}

.searchBar,
.searchBarEmpty 
{
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(35, 52, 97); 
}

.searchBarEmpty{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}