.show,
.showShow {
  width: 18px;
  position: absolute;
  left: 7px;
  bottom: 5px;
  z-index: 1000;
}

.outerWrapper
{
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  width: fit-content;
  bottom: 40px;
  z-index: 0;
}

.wrapper {
  position: relative;
}

.heading,
.headingClosed {
  font-weight: bolder;
  color: white;
  background-color: rgb(18, 31, 65);
  font-size: 16px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.headingClosed {
  border-radius: 10px;
  padding: 5px;
}

.chatIcon {
  width: 20px;
  margin-left: 20px;
  padding: 3px;
  padding-top: 5px;
}

.chatHeader {
  width: 295px;
}

.light
{
  background-color: rgb(46, 67, 124);
}

.dark
{
  background-color: rgb(38, 56, 104);
}

.chatBody {
  position: relative;
  background-color: rgb(35, 52, 97);
  overflow: auto;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  width: 295px;
}

.chatMessage {
  background-color: rgb(18, 31, 65);
  height: fit-content;
  padding-top: 10px;
}

.chatInput {
  width: 275px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 5px;
}

.chatInput::placeholder {
  font-size: 12px;
  color: #999;
}

.chatInput:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.error {
  border: 2px solid red;
}

.chatFooter {
  background-color: rgb(18, 31, 65);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
}

.link {
  color: white;
  font-size: 12px;
  text-decoration: none;
  backdrop-filter: blur(10px);
}

.link:hover {
  text-decoration: underline;
}

.charCount {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  position: absolute;
  right: 10px;
  padding: 5px;
}

.messageWrapper
{
  color: white;
}

.user
{
  font-size: 14px;
  padding: 3px;
  padding-top: 1px;
  padding-left: 5px;
  user-select: text;
  float: left;
  font-weight: bolder;
}

.time
{
  padding-right: 3px;
  padding-top: 3px;
  font-size: 12px;
  float: right;
  height: fit-content;
}

.message
{
  text-align: left;
  padding: 3px;
  user-select: text;
  font-size: 14px;
  font-weight: 100;
  
  padding-left: 5px;
}

.chatInnerHeader
{
  height: 20px;
}

.tick
{
  width: 10px;
  float: right;
  margin-top: 5px;
}

.arrow
{
  width: 8px;
  margin-left: 3px;
}

.unseen
{
  margin-top: 3px;
  position: fixed;
  left: 170px;
  transform: translateX(-50%);
  font-weight: bolder;
  padding: 2px 7px;
  background-color: rgb(18, 31, 65);
  border: 2px solid white;
  border-radius: 100px;
  color: white;
  font-size: 14px;
}