.show,
.showShow {
  width: 18px;
  position: absolute;
  left: 7px;
  bottom: 5px;
  z-index: 1000;
}

.wrapper {
  position: absolute;
  margin-top: 20px;
  width: fit-content;
  bottom: 40px;
}

.heading,
.headingClosed {
  font-weight: bolder;
  color: white;
  background-color: rgb(18, 31, 65);
  padding: 7.7px;
  font-size: 16px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.headingClosed {
  border-radius: 10px;
  padding: 5px;
}

.chatIcon {
  width: 20px;
  margin-left: 20px;
  padding: 3px;
}

.chatHeader {
  width: 300px;
}

.chatBody {
  background-color: rgb(35, 52, 97);
  height: 200px;
}

.chatMessage {
  background-color: rgb(35, 52, 97);
  height: fit-content;
}

.chatInput {
  width: 280px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}

.chatInput::placeholder {
  font-size: 14px;
  color: #999;
}

.chatInput:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.error {
  border: 2px solid red;
}

.chatFooter {
  background-color: rgb(35, 52, 97);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
}

.link {
  color: white;
  font-size: 12px;
  text-decoration: none;
  backdrop-filter: blur(10px);
}

.link:hover {
  text-decoration: underline;
}

.charCount {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  position: absolute;
  right: 10px;
  padding: 5px;
}
