.show
{
    width: 15px;
    position: absolute;
    left: 4px;
    background-color: rgb(35, 52, 97); 
    padding: 9.4px 6px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}


.wrapper
{
    margin-left: 19px;
    margin-top: 20px;
    width: 300px;
    height: 335px;
    width: fit-content;
}

.heading,
.headingClosed
{
    font-weight: bolder;
    color: white;
    background-color: rgb(35, 52, 97); 
    padding: 7.7px;
    font-size: 16px;
    border-top-right-radius: 10px;
}

.headingClosed
{
    border-bottom-right-radius: 10px;
    padding: 5px;
}

.chatIcon
{
    width: 20px;
    margin-left: 4px;
}