.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errors {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  border: 1px solid #ff0000;
  border-radius: 4px;
  background-color: #ffe0e0;
  text-align: center;
  box-sizing: border-box;
  z-index: 2;
  color: red;
}

.errors h2 {
  margin: 0 0 0px;
}

.error {
  background-color: #ff0000;
  color: white;
  padding: 5px;
  border-radius: 4px;
  margin: 5px 0;
}

.errorNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navArrow {
  cursor: pointer;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.errorCount {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
  font-weight: bolder;
  padding: 5px;
  border-radius: 4px;
}
