.footer {
    position: fixed; 
    bottom: 0px;
    background-color: #333333;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border-radius: 10px;
    z-index: 10000;
}

.footer p {
    margin: 0; 
}
