.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: rgb(18, 31, 65);
  height: 45px;
}

.logo {
  height: 40px; 
  margin-right: 10px;
  margin-top: 5px;
}

.brandname {
  font-size: 30px; 
  margin: 0;
  color: white;
  text-decoration: none; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  
}

@media (max-width: 768px) {
  .brandname {
    display: none; 
  }
}

.navLeft {
  display: flex;
  align-items: center;
}

.navRight {
  display: flex;
  align-items: center;
}

ul {
  font-weight: bold;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 20px;
}

li a {
  color: white;
  text-decoration: none; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

li a:hover {
  text-decoration: underline;
}

.x {
  height: 30px;
  margin-left: 25px;
}

.icons
{
  height: 20px;
  margin-top: 15px;
}