.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: rgb(18, 31, 65);
  height: 45px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
}

.logo {
  height: 40px;
  margin-right: 10px;
  margin-top: 5px;
}

.brandname {
  font-size: 30px;
  margin: 0;
  color: white;
  text-decoration: none;
  pointer-events: none;
}

.navLeft,
.navRight {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navItem {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.linkText {
  margin-left: 5px;
}

ul {
  font-weight: bold;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

li {
  margin-left: 20px;
}

li a {
  color: white;
  text-decoration: none;
  line-height: 45px;
}

li a:hover {
  text-decoration: underline;
}

.icons {
  height: 20px;
  margin-top: 16px;
}

.activeIcons {
  width: 22px;
}

.logoutIcon {
  height: 17px;
  padding: 5px;
  padding-top: 8px;
}

.profileIcon {
  height: 20px;
  padding: 5px;
  padding-top: 8px;
  margin-right: 15px;
}

.banner {
  margin-top: 2px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bannerText {
  margin: 5px;
  color: rgb(18, 31, 65);
  font-weight: bold;
}

.activeCount {
  color: white;
  font-weight: bold;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .brandname,
  .banner {
    display: none;
  }
}
