.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw; 
  background-color: rgb(18, 31, 65);
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 999; 
}

.loading {
  width: 200px;
  height: auto;
  margin-bottom: 30px; 
}

.wrapper {
  font-size: 32px;
  background-color: white;
  border-radius: 100px;
  padding: 5px 7px;
  color: rgb(18, 31, 65);
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dots {
  display: inline-block;
  width: 2ch; 
  text-align: left;
}
